*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html{
   background: #e9d4b3 url('imagens/izanami3.jpg') center no-repeat fixed;
   
}

#cabecalho{    
    width: 100%;
    text-align: center;
    background: blueviolet;
    font-size: 1.4em;
    padding: 30px;
    
 }

 #cabecalho a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
 }

 .caixa{
   
   display: flex;
   justify-content: space-between ;
 }

 .direita{
   border: 2px solid red;
   width: 200px;
   background: aquamarine;

 }

 .centro{
   border: 2px solid red;
   width: 200px;
   background: aquamarine;
 }

 .esquerda{
   border: 2px solid red;
   width: 200px;
   background: aquamarine;
}
 

 #rodape{
    width: 100%;
    background:blue;

 }


 